.content-container {
	margin: 1rem;
	display: flex;
	padding: 4rem 0;
	/* justify-content: space-between; */
}

.cont {
	padding: 2rem;
	margin: 1.5rem;
}
.content-container-left {
	/* flex-shrink: 2; */
	/* border: 1px solid #ccc; */
	box-shadow: 0.3rem 0.4rem 0.7rem pink;
	border-radius: 10px;
	/* flex-shrink: 5; */
	height: fit-content;
}

.content-container-left .img {
	margin: 1rem;
}

.content-container-right {
	/* background-color: red; */
	flex-basis: 75%;
	height: 100vh;
}
.form {
	/* display: flex; */
	justify-content: center;
	/* border: 1px solid black; */
}
.form form {
	width: 100%;
}

.form input,
textarea {

	/* sdssd */
	box-sizing: border-box;
	width: 100%;
	padding: 6px 10px;
	display: block;
	height: 3rem;
	margin: 1rem auto;
	border-radius: 0.5rem;
	/* border: none; */
}
.form button {
	border: 0;
	padding: 8px;
	border-radius: 8px;
	display: block;
	margin: auto;
	cursor: pointer;
	font-size: 1.5rem;
}
.registration {
	display: flex;
}
.r-left {
	display: flex;
	position: relative;
	flex: 1;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}

.r-right {
	display: flex;
	position: relative;
	margin-left: -2em;
}

.r-container {
	background-color: var(--SixthColor);
	height: 670px;
	width: 20%;
}

.flex-container {
	position: relative;
	display: flex;
	flex-direction: column;
	float: left;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.r-title {
	color: var(--BodyColor);
	font-size: 40px;
	margin-top: 2rem;
	font-family: 'Mynerve', cursive;
}

.project-title {
	font-size: 30px;
	margin-bottom: 0.5em;
	margin-top: -1em;
	color: var(--BodyColor);
	font-family: 'Mynerve', cursive;
}

.skills-title {
	font-size: 30px;
	margin-bottom: 0.5em;
	margin-top: -1em;
	color: var(--BodyColor);
	font-family: 'Mynerve', cursive;
}

.flex-container {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

.projects-card {
	background-color: var(--FirstColor);
	width: 20rem;
	padding: 3em;
	height: 14rem;
	border-radius: 18px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.projects-card:hover {
	transform: scale(1.01);
	transition: transform 0.2s ease-out;
}
