.portfolio-item {
}

.portfolio-item img {
	max-height: 10rem;
	margin: 1rem;
}

.portfolio-item p {
	font-family: 'Shantell Sans', cursive;
	/* text-align: center; */
}
.name {
	padding: 0.5rem 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name p {
	/* font-family: 'Tilt Neon', cursive; */
}

.name li{
	font-family: 'Tilt Neon', cursive;
	list-style: none;
}